protocols {
    ldp {
{%      for intf in p2p_ip[inventory_hostname] | sort(attribute='port') %}
        interface {{ intf.port }}.{{ intf.vlan | default('0') }};
{%      endfor %}
        interface lo0.0;
    }
    rsvp {
{%      for intf in p2p_ip[inventory_hostname] | sort(attribute='port') %}
        interface {{ intf.port }}.{{ intf.vlan | default('0') }};
{%      endfor %}
    }
    mpls {
{%      for intf in p2p_ip[inventory_hostname] | sort(attribute='port') %}
        interface {{ intf.port }}.{{ intf.vlan | default('0') }};
{%      endfor %}
    }
}
